DATA CLEANSING TRANSJAKARTA by IRWAN

In [8]:
import pandas as pd

# Load data
df = pd.read_csv('Transjakarta.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37900 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           37900 non-null  object
 1   payCardID         37900 non-null  int64
 2   payCardBank       37900 non-null  object
 3   payCardName       37900 non-null  object
 4   payCardSex        37900 non-null  object
 5   payCardBirthDate  37900 non-null  int64
 6   corridorID        36643 non-null  object
 7   corridorName      35970 non-null  object
 8   direction         37900 non-null  float64
 9   tapInStops        36687 non-null  object
 10  tapInStopsName    37900 non-null  object
 11  tapInStopsLat     37900 non-null  float64
 12  tapInStopsLon     37900 non-null  float64
 13  stopStartSeq      37900 non-null  int64
 14  tapInTime         37900 non-null  object
 15  tapOutStops       35611 non-null  object
 16  tapOutStopsName   36556 non-null  object
 17  tapOutStopsLat    36556 non-null  float64
 18  tapOutStopsLon    36556 non-null  float64
 19  stopEndSeq        36556 non-null  float64
 20  tapOutTime        36556 non-null  object
 21  payAmount         36893 non-null  float64
dtypes: float64(7), int64(3), object(12)
memory usage: 6.4+ MB

In [9]:
# Cek missing values per kolom
missing = df.isnull().sum()
print(missing[missing > 0])

corridorID         1257
corridorName       1930
tapInStops         1213
tapOutStops        2289
tapOutStopsName    1344
tapOutStopsLat     1344
tapOutStopsLon     1344
stopEndSeq         1344
tapOutTime         1344
payAmount          1007
dtype: int64

In [10]:
#hapus baris yang missing values
df_clean = df.dropna()

# Cek ulang missing values
print(df_clean.isnull().sum().sum())  # Should be 0 now

0

In [11]:
df_clean = df.dropna().copy()

# Jangan ubah payCardBirthDate jadi datetime, cukup pastikan tipe data benar
df_clean['payCardBirthDate'] = df_clean['payCardBirthDate'].astype(int)

# Konversi waktu tapInTime dan tapOutTime ke datetime
df_clean['tapInTime'] = pd.to_datetime(df_clean['tapInTime'])
df_clean['tapOutTime'] = pd.to_datetime(df_clean['tapOutTime'])

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31730 entries, 0 to 37899
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transID           31730 non-null  object
 1   payCardID         31730 non-null  int64
 2   payCardBank       31730 non-null  object
 3   payCardName       31730 non-null  object
 4   payCardSex        31730 non-null  object
 5   payCardBirthDate  31730 non-null  int32
 6   corridorID        31730 non-null  object
 7   corridorName      31730 non-null  object
 8   direction         31730 non-null  float64
 9   tapInStops        31730 non-null  object
 10  tapInStopsName    31730 non-null  object
 11  tapInStopsLat     31730 non-null  float64
 12  tapInStopsLon     31730 non-null  float64
 13  stopStartSeq      31730 non-null  int64
 14  tapInTime         31730 non-null  datetime64[ns]
 15  tapOutStops       31730 non-null  object
 16  tapOutStopsName   31730 non-null  object
 17  tapOutStopsLat    31730 non-null  float64
 18  tapOutStopsLon    31730 non-null  float64
 19  stopEndSeq        31730 non-null  float64
 20  tapOutTime        31730 non-null  datetime64[ns]
 21  payAmount         31730 non-null  float64
dtypes: datetime64[ns](2), float64(7), int32(1), int64(2), object(10)
memory usage: 5.4+ MB

In [12]:
#menghapus data duplikat
before = df_clean.shape[0]
df_clean = df_clean.drop_duplicates()
after = df_clean.shape[0]
print(f'Duplicates removed: {before - after}')

Duplicates removed: 0

In [13]:
#mengubah paymount data error menjadi 3500

df_clean.loc[df_clean['payAmount'] != 3500, 'payAmount'] = 3500
print(df_clean['payAmount'].unique())

[3500.]

In [14]:
#simpan ke csv baru 

df_clean.to_csv('CleanTransjakarta_Irwan.csv', index=False)
print('File saved as CleanTransjakarta_Irwan.csv')

File saved as CleanTransjakarta_Irwan.csv